---
import Banner from '@components/Banner';
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer';
import Nav from '@components/Nav.astro';
import '@styles/Base.css';
import '@styles/global.css';
import { SITE_DESCRIPTION,SITE_TITLE } from '../consts';

type Props = {
  title?: string;
  description?: string;
};

const frontmatter = Astro.props.frontmatter ?? {};
const title = frontmatter.title
  ? `${frontmatter.title} - ${SITE_TITLE}`
  : Astro.props.title
  ? `${Astro.props.title} - ${SITE_TITLE}`
  : SITE_TITLE;
const description = frontmatter.description
  ? frontmatter.description
  : Astro.props.description ?? SITE_DESCRIPTION;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Banner client:only="react" />
    <Nav />
    <div class="page-wrapper">
      <main class="page-body">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
